
.navbar {
    background-color: rgb(20, 37, 37, 75);
}


.navbar-nav{
    gap: 50px;
}

body{
    background-image: url("/img/background1.png");
    text-align: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.btn-outline-success:hover{
    background-color: brown;
    border-color: brown;
}

.card {
    background-color: rgb(56, 57, 57);
    color: white;
}

.btn-primary{
    background-color: rgb(18, 108, 0);
    border: 0;
    color: black
}

.btn-primary:hover{
    background-color: rgb(43, 255, 0);
    border: 0;
    color: black
}

.cart-btn_margin-y{
    background-color: rgb(18, 108, 0);
    border: 0;
    border-radius: 10px;
    color: black
}

.cart-btn_margin-y:hover{
    background-color: rgb(43, 255, 0);
    border: 0;
    color: black
}

.cart-btn_margin-n{
    background-color: rgb(108, 0, 0);
    border: 0;
    border-radius: 10px;
    color: black
}

.cart-btn_margin-n:hover{
    background-color: rgb(255, 0, 0);
    color: black
}

.confirm-order-btn_margin-y{
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    color: black
}

.confirm-order-btn_margin-y:hover{
    background-color: black;
    color: white
}

.products-list{ 
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
}

main{
    flex: 1;
}
footer{
    color: white;
    background-color: rgb(20, 37, 37, 75);
    height: 100px;
    margin-top: 70px;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.sm{
    width: 50px;
    height: 50px;
}

.logo{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
}